<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div class="container">
  <div class="row">
    <div classe="col-md-12">
      <p>formation</p>
      <p>Transport</p>
      <p>Hébergement</p>
      <p><strong>Restauration</strong></p>
      <p>Coordonnées Bancaire</p>
      <h1>Etape 4 : Déclarer vos frais de restauration </h1>
      <h2>Avez-vous des frais de Restauration ?</h2>
      <fieldset>
        <table>
          <tr>
            <td><input type="checkbox"></td>
            <td>
              <h1>Aucun frais de restauration</h1>
              <p>Je n'ai aucun jus</p>
            </td>
          </tr>
        </table>
        <br><br>
        <table>
          <tr>
            <td><input type="checkbox"></td>
            <td>
              <h1>Aucun frais de restauration</h1>
            </td>
          </tr>
        </table>
        <br><br>
      </fieldset>
      </div>
  </div>
</div>
</body>
</html>